<%- include('layout.ejs'); %>
<% if (user == null || user.role != "customer") { %>
    <%- include('login.ejs') %> 
<% }  
else 
{  %>  
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&key=<%= google_maps_api_key %>" ></script>    

<aside style="height: 100%; width: 15%; overflow: auto">
    <a href="/logout">
        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button> 
    </a>
    <hr>
    <div id="branches" style="margin: 5px;">
        <button onclick="showBranches()" class="btn btn-primary btn-lg btn-block login-button">Show branches</button>
        <div id="map" style="width: 200px; height: 200px"></div>
        <div style="margin: 5px; display: flex; flex-direction: row;">
            <input id="lat" class="form-control"></input>
            <input id="lon" class="form-control"></input>            
        </div>        
        <button onclick="addBranch()" class="btn btn-primary btn-lg btn-block login-button">Add</button>
        <button onclick="deleteBranch()" class="btn btn-primary btn-lg btn-block login-button">Delete</button>
    </div>
</aside>
<aside style="height: 100%; width: 15%; overflow: auto">
    <div id="add_product" style="margin: 5px;">
    <form action="/createProduct" method="POST" onsubmit="return validate('', this.submitted)" >
        <div style="margin: 5px; display: flex; flex-direction: row;">
            <label style="color: white; width: 140px">Category</label>
            <input type="text" placeholder="Enter Category" id="category_" name="category" class="form-control" required ></input>
        </div>
        <label style="display:none; color:red; font-size: small;" id="err_category_" ></label> 
        
        <div style="margin: 5px; display: flex; flex-direction: row;">
            <label style="color: white; width: 140px">Description</label>
            <input type="text" placeholder="Enter Description" id="description_" name="description" class="form-control" required ></input>
         </div>
        <label style="display:none; color:red; font-size: small;" id="err_description_" ></label> 
        
        <div style="margin: 5px; display: flex; flex-direction: row;">
             <label style="color: white; width: 140px">Price</label>
            <input type="text" placeholder="Enter Price" id="price_" name="price" class="form-control" required ></input>
        </div>
        <label style="display:none; color:red; font-size: small;" id="err_price_" ></label> 
        
        <div style="margin: 5px; display: flex; flex-direction: row;">
            <label style="color: white; width: 140px">Color</label>
            <input type="text" placeholder="Enter Color" id="color_" name="color" class="form-control" required ></input>
        </div>       
        <label style="display:none; color:red; font-size: small;" id="err_color_" ></label> 
        
        <div style="margin: 5px; display: flex; flex-direction: row;">
           <label style="color: white; width: 140px">Size</label>
            <input type="text" placeholder="Enter Size" id="size_" name="size" class="form-control" required ></input>
        </div>
        <label style="display:none; color:red; font-size: small;" id="err_size_" ></label> 
        
        <div style="margin: 5px; display: flex; flex-direction: row;">
            <label style="color: white; width: 140px">Brand</label>
            <input type="text" placeholder="Enter Brand" id="brand_" name="brand" class="form-control" required ></input>
        </div>
        <label style="display:none; color:red; font-size: small;" id="err_brand_" ></label> 
        
        <div style="margin: 5px; display: flex; flex-direction: row;">
            <label style="color: white; width: 140px">Url</label>
            <input type="text" placeholder="Enter Url" id="url_" name="url" class="form-control" ></input>
        </div>
        <label style="display:none; color:red; font-size: small;" id="err_url_" ></label> 
        
        <button type="submit" value="Create" onclick="this.form.submitted=this.value;" class="btn btn-primary btn-lg btn-block login-button">Create product</button>
    </form>
    </div>
</aside>
<section id="tableSection">
    <div style="margin: 20px; height: 600px; overflow: auto">
        <table border="1" style="width: 100%; table-layout: fixed;">
            <colgroup>
                <col span="1" style="width: 6%;">
                <col span="1" style="width: 12%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 9%;">
                <col span="1" style="width: 9%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 12%;">    
                <col span="1" style="width: 9%;">    
                <col span="1" style="width: 12%;">                                  
            </colgroup>
            <tbody>
            <tr>
                <th>S.N</th>
                <th style="display:none">id</th>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Color</th>
                <th>Size</th>
                <th>Brand</th>
                <th>Picture</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            
            <%
            if(productData.length!=0){
            var i=1;
            productData.forEach(function(data){
            %>
            <tr>
                                <form action="/changeProductTable" method="POST" onsubmit="return validate( '<%=i %>', this.submitted ) " >
                                    <td>
                                        <label>
                                            <%=i; %>
                                        </label>
                                    </td>
                                    <td style="display:none"><input type="text" name="id" value=<%=data.id %> />                
                                    <td>
                                        <input type="text" id="category_<%=i; %>" name="category" value="<%=data.category %>" style="width: 100%"></input>
                                        <label style="display:none; color:red; font-size: small;" id="err_category_<%=i; %>" ></label> 
                                    </td>
                                    <td>
                                        <input type="text" id="description_<%=i; %>" name="description" value="<%= data.description %>" style="width: 100%"></input>
                                        <label style="display:none; color:red; font-size: small;" id="err_description_<%=i; %>" ></label>
                                    </td>
                                    <td>
                                        <input type="text" id="price_<%=i; %>" name="price" value="<%=data.price %>" style="width: 100%"></input>
                                        <label style="display:none; color:red; font-size: small;" id="err_price_<%=i; %>" ></label> 
                                    </td>
                                    <td>
                                        <input type="text" id="color_<%=i; %>" name="color" value="<%=data.color %>" style="width: 100%" ></input>
                                        <label style="display:none; color:red; font-size: small;" id="err_color_<%=i; %>" ></label>
                                    </td>
                                    <td>
                                        <input type="text" id="size_<%=i; %>" name="size" value="<%=data.size %>" style="width: 100%"></input>
                                        <label style="display:none; color:red; font-size: small;" id="err_size_<%=i; %>" ></label> 
                                    </td>
                                    <td>
                                        <input type="text" id="brand_<%=i; %>" name="brand" value="<%=data.brand %>" style="width: 100%"></input>
                                        <label style="display:none; color:red; font-size: small;" id="err_brand_<%=i; %>" ></label>
                                    </td>
                                    <td>
                                        <input type="text" id="url_<%=i; %>" name="url" value="<%=data.url %>" style="width: 100%"></input>
                                        <label style="display:none; color:red; font-size: small;" id="err_url_<%=i; %>" ></label> 
                                    </td>
                                    <td>
                                        <button id= "buttons" type="submit" name="submit" value="Edit" onclick="this.form.submitted=this.value;" style="border-radius: 8px;">Edit</button>
                                    </td>
                                    <td>
                                        <button id= "buttons" type="submit" name="submit" value="Delete" onclick="this.form.submitted=this.value; "style="border-radius: 8px;">Delete</button>
                                    </td>
                                </form>
                            </tr>
            <%  i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            <% } %>
        </table>
        </div>   
    </section>
<% } %>

<div id="dialog" title="Purchases" style="display: none; width: 360px; max-height: 300px;">
    <table id="shopping_cart" class="table-data" border="1" ></table>
</div>

<video id="video_popup" style="display: none; width: 360px; max-height: 300px; " id="videoPlayer" controls muted="muted" autoplay> 
    <source src="/video" type="video/mp4">
    Sorry, your browser doesn't support embedded videos." type="video/mp4">
</video>

<style type="text/css" media="screen, print">
    #tableSection {
        position: absolute;
        bottom: 80px;
        width: 66%;
    } 
    header {
        display: none;
    }   
</style>  

<script>
    
    $(document).ready(function () {   
        $("#table-data").find("tr:gt(0)").remove()
    })
    
    function validate(i, type) {
        $('[id^="err_"]').hide();      
        if (type == "Edit" || type == "Create")
        {   
            var err = false;
            if ($("#category_" + i.toString())[0].value == "")
            {
                $("#err_category_" + i.toString())[0].innerText = "forbidden empty category";
                $("#err_category_" + i.toString()).show();
                err = true;
            }
            if ($("#description_" + i.toString())[0].value == "")
            {
                $("#err_description_" + i.toString())[0].innerText = "forbidden empty description";
                $("#err_description_" + i.toString()).show();
                err = true;
            }
            if ($("#price_" + i.toString())[0].value == "")
            {
                $("#err_price_" + i.toString())[0].innerText = "forbidden empty price";
                $("#err_price_" + i.toString()).show();
                err = true;
            }
            if ($("#color_" + i.toString())[0].value == "")
            {
                $("#err_color_" + i.toString())[0].innerText = "forbidden empty color";
                $("#err_color_" + i.toString()).show();
                err = true;
            }
            if ($("#size_" + i.toString())[0].value == "")
            {
                $("#err_size_" + i.toString())[0].innerText = "forbidden empty size";
                $("#err_size_" + i.toString()).show();
                err = true;
            }
            if ($("#brand_" + i.toString())[0].value == "")
            {
                $("#err_brand_" + i.toString())[0].innerText = "forbidden empty brand";
                $("#err_brand_" + i.toString()).show();
                err = true;
            }

            if (isNaN($("#price_" + i.toString())[0].value))
            {
                $("#err_price_" + i.toString())[0].innerText = "only numbers allowed";
                $("#err_price_" + i.toString()).show();
                err = true;
            }
            else if (parseInt($("#price_" + i.toString())[0].value) <= 0)
            {
                $("#err_price_" + i.toString())[0].innerText = "negative numbers are forbidden";
                $("#err_price_" + i.toString()).show();
                err = true;
            }

            if (err)
            {
                return false;
            }
            else {
                $('[id^="err_"]').hide();               
                return true;
            } 
        }
    }

    function addBranch() {
        const webMethod = "/addBranch";
            
        $.ajax({
            type: "POST",
            url: webMethod,
            data: JSON.stringify({'latitude': $('#lat')[0].value, 'longitude': $('#lon')[0].value}),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                    alert("New branch added successfully");
            },
        });
    }
    
    function deleteBranch() {
        const webMethod = "/deleteBranch"
            
        $.ajax( {
            type: "POST",
            url: webMethod,
            data: JSON.stringify ( { 'latitude': $( '#lat' )[0].value, 'longitude': $( '#lon' )[0].value } ),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function ( result ) {
                alert("Branch deleted successfully")
            },
        } )
    }
</script>