 <%- include('layout.ejs'); %>

    <% if (user == null || user.role != "user") { %>
        <%- include('login.ejs') %> 
    <% }  
    else 
    {  %>  
    
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&key=<%= google_maps_api_key %>" ></script>        
    <input type="hidden" id="user_id" value="<%=user.id %>" ></input> 
    <input type="hidden" id="user_name" value="<%=user.name %>" ></input>
    <div>
    <aside style="    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(15px) brightness(0.8);
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    right: 0;
    background-color: rgb(209, 193, 175);
    padding: 16px;">
        <a href="/logout">
            <button type="submit" class="btn btn-primary btn-lg btn-block login-button" style="background-color: rgb(94, 85, 71); border-color: rgb(94, 85, 71);">Logout</button> 
        </a>
        
        <form action="/filterProductTable" method="POST" style="display: flex; gap: 5px;     align-items: center;">
            <div >
                <label>Select color:</label>
                <select name="color" >
                    <option value="">All</option>
                <%
                if ( productData.length != 0 ) {
                    var colors = [ ...new Set ( productData.map ( item => item.color) ) ]
                    colors.forEach ( function ( color ) {
                %>
                    <option value="<%=color %>"><%=color %></option>
                <% } )
                } %>
                </select>   
            </div>
            <div >
                <label>Select brand:</label>
                <select name="brand">
                    <option value="">All</option>
                <%
                if ( productData.length != 0 ) {
                    var brands = [ ...new Set ( productData.map ( item => item.brand) ) ]
                    brands.forEach ( function ( brand ) {
                %>
                    <option value="<%=brand %>"><%=brand %></option>
                <% } )
                } %>
                </select>   
            </div>  
            <div>
            </div>
            <div >
                <label class="filter_name">Min Price</label>
                <input name="min_price"></input>
            </div>    
            <div >
                <label class="filter_name">Max Price</label>
                <input name="max_price" ></input>
            </div>  
            <button class="search_btn" >Search</button>         
        </form>

        <div style="margin: 5px">          
            <a href="/clearFilters" > 
                <button type="submit" class="search_btn">Clear</button> 
            </a>
        </div> 
        
        <button class="btn btn-primary btn-lg button-block login-button" onclick="showPurchases(null)" style="background-color: rgb(94, 85, 71); border-color: rgb(94, 85, 71);">Shopping cart</button>              
    </aside>
        <section id="tableSection">         
        <div id="cards-container"  style="display: flex; flex-wrap: wrap; gap : 5px; justify-content: center; margin-top: 100px;">            
            <%
            if(productData.length!=0){
            var i=1;
            productData.forEach(function(data){
            %>
            <label class="card" style="width:  15rem;">
                <img id="url_<%=i; %>" src="<%=data.url %>" alt="Avatar" style="width: 100%;aspect-ratio: 1;">
                <div class="container" >
                    <p id="description_<%=i; %>" ><b><%=data.description %></b></p> 
                    <p id="category_<%=i; %>" ><%=data.category %></p> 
                </div> 
                <div class="container" >
                    <p id="color_<%=i; %>" ><%=data.color %></p> 
                    <p id="size_<%=i; %>" ><%=data.size %></p> 
                    <p id="brand_<%=i; %>" ><%=data.brand %></p> 
                </div> 
                <div class="container" >
                    <h4 id="price_<%=i; %>" ><b><%=data.price %> $</b></h4> 
                    <input type="checkbox"  id="buy_<%=i; %>" hidden>
                </div> 
            </label>
            <%  i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            <% } %>
        </div>
        </div>
        <div style="margin: 5px">
          <button class="transform btn btn-warning btn-lg" onclick="buy()" style="background-color: rgb(157, 150, 143); border-color:  rgb(157, 150, 143);">Add to cart</button>  
       </div>
    </section>
  
   <div id="dialog" title="Purchases" style="display: none; ">
        <table id="shopping_cart" border="1" ></table>
    </div>
    
    <div id="map" style=" height: 200px; "></div>

    <video id="video_popup" style="display: none; width: 360px;" id="videoPlayer" controls muted="muted" autoplay> 
        <source src="/video" type="video/mp4">
        Sorry, your browser doesn't support embedded videos." type="video/mp4">
    </video>

    
    <% } %>

<style type="text/css" media="screen, print">
    header {
        display: none;
    }
</style>  

<script>
            
        function buy() {
            $(".transform").addClass("transform-active");
            var purchased = [];
            var time = Date.now();
            $("input:checked").each(function () {
                const index = $(this)[0].id.split("buy_")[1];
                purchased.push({
                    userId: $("#user_id")[0].value,
                    purchaseTime: time,
                    category: $("#category_" + index.toString())[0].textContent,
                    description: $("#description_" + index.toString())[0].textContent,
                    price: $("#price_" + index.toString())[0].textContent.split(" ")[0],
                    color: $("#color_" + index.toString())[0].textContent,
                    size: $("#size_" + index.toString())[0].textContent,
                    brand: $("#brand_" + index.toString())[0].textContent,
                    url: $("#url_" + index.toString())[0].src,
                });
            }); 
            
            const webMethod = "/buy";
            
            $.ajax({
                type: "POST",
                url: webMethod,
                data: JSON.stringify({'purchaseList': purchased}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    $(".transform").removeClass("transform-active");
                    socket.emit("new purchase", { purchase: result, userName: $("#user_name")[0].value })
                },
            });
        }
       
        function filterThreeParams() {
            const webMethod = "/filterThreeParams";
            
            $.ajax({
                type: "POST",
                url: webMethod,
                data: JSON.stringify({'brand': $("#brand")[0].value, 'size': $("#size")[0].value, 'color': $("#color")[0].value}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    $("#cards-container").empty();
                    var rows = [];
                    for (i=0; i<result.length; i++)
                    {
                        var row = $('<div class="card">')
                        row.append($('<img id="url_' + i + '" src="' + result[i]["url"] + '" alt="Avatar" style="width:100%">'))
                        
                        var container1 = $('<div class="container" style="display: flex">')
                        container1.append($('<p id="description_' + i + '" style="margin: 5px"><b>' + result[i]["description"] + '</b></p>')) 
                        container1.append($('<p id="category_' + i + '" style="margin: 5px">' + result[i]["category"] + '</p>')) 
                        
                        var container2 = $('<div class="container" style="display: flex; flex-direction: row; margin: 5px;">')
                        container2.append($('<p id="color_' + i + '" style="margin: 5px">' + result[i]["color"] + '</p>')) 
                        container2.append($('<p id="size_' + i + '" style="margin: 5px">' + result[i]["size"] + '</p>')) 
                        container2.append($('<p id="brand_' + i + '" style="margin: 5px">' + result[i]["brand"] + '</p>')) 
                        
                        var container3 = $('<div class="container" style="display: flex">')
                        container3.append($('<h4 id="price_' + i + '" style="margin: 5px"><b>' + result[i]["price"] + ' $</b></h4>')) 
                        container3.append($('<input type="checkbox" style="margin: 5px" id="buy_' + i + '">'))                                              
                        
                        row.append(container1)
                        row.append(container2)
                        row.append(container3)

                        rows.push(row);
                    }
                    
                    for (i = 0; i < rows.length; i = i + 1) {
                        $("#cards-container").append(rows[i]);
                    }
                },
            });
        }
    </script>     